<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Регистрация</title>
</head>
<body>
<div><a href="/">На главную</a></div>
<div th:if="${message}">
    <p th:text="${message}" />
</div>
<form th:action="@{/registration}" method="post">
    <div>Регистрация:</div>
    <div th:if="${usernameMess}">
        <p th:text="${usernameMess}" />
    </div>
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div th:if="${passwordMess}">
        <p th:text="${passwordMess}" />
    </div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Confirm password: <input type="password" name="password2"/> </label></div>
    <div th:if="${emailMess}">
        <p th:text="${emailMess}" />
    </div>
    <div><label> Email: <input type="text" name="email"/> </label></div>
    <div><label> Address: <input type="text" name="address"/> </label></div>
    <div><input type="submit" value="Sign up"/></div>
</form>
</body>
</html>